.sidebar{
  float: left;
  width: 250px;
}
.navigation{
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #cacaca; 
  margin-bottom: 35px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}
.navigation-list{
list-style: none;
margin: 0;
padding: 0;
}
.navigation .navigation-item{
min-height: 56px;
box-shadow: inset 0px 1px 4px #cacaca;
background: #fbfbfb; /* Old browsers */
  background-image: -moz-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.07),inset 0px -2px 3px 0px rgba(45, 45, 45, 0.05);
}

.navigation .navigation-link{
display: block;
line-height: 56px;
text-decoration: none;
font-family: 'open_sanssemibold';
font-size: 20px;
padding-left: 28px;
color: #727070;
text-shadow: rgba(255,255,255,0.5) 0px .5px .5px;

}
.navigation .navigation-item:hover{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1d1d1+1,bebdbd+100 */
background: rgb(209,209,209); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(209,209,209,1) 1%, rgba(190,189,189,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(209,209,209,1)), color-stop(100%,rgba(190,189,189,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(209,209,209,1) 1%,rgba(190,189,189,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(209,209,209,1) 1%,rgba(190,189,189,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(209,209,209,1) 1%,rgba(190,189,189,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(209,209,209,1) 1%,rgba(190,189,189,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#bebdbd',GradientType=0 ); /* IE6-9 */
}

.navigation .navigation-link:active{
	background-color: black;
	-webkit-background-clip: text;
-moz-background-clip: text;
	background-clip: text; 
	color: transparent;
	text-shadow: rgba(255,255,255,0.5) 0px .5px .5px;

}

/*sidebar finish*/

.navigation .navigation-item.current{
  background: #5bcdb1;
  background-image: -moz-linear-gradient( 90deg, rgb(116,182,150) 0%, rgb(165,232,203) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(116,182,150) 0%, rgb(165,232,203) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(116,182,150) 0%, rgb(165,232,203) 100%);
  box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  margin: 0;
  box-shadow: inset 1px 2px 1px #a5efdd;
}

/*contacts*/
.contacts{
float: left;
width: 250px;
border-radius: 5px;
padding: 0;
margin: 0;
box-shadow: 0 5px 3px -5px rgba(255, 255, 255, 0.9);
font-style: normal;
}
.contacts .contacts-header{
	min-height: 43px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3cf84+0,dcb25e+100 */
	background: #f3cf84; /* Old browsers */
    background: -moz-linear-gradient(top,  #f3cf84 0%, #dcb25e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3cf84), color-stop(100%,#dcb25e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f3cf84 0%,#dcb25e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f3cf84 0%,#dcb25e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f3cf84 0%,#dcb25e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f3cf84 0%,#dcb25e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3cf84', endColorstr='#dcb25e',GradientType=0 ); /* IE6-9 */
	border-radius: 5px 5px 0 0;
	box-shadow: inset 0px 1px 4px #cacaca;
}
.contacts-header .header-contacts-text{
	display: inline-block;
	padding-top: 7px;
	padding-bottom: 7px;
	font-family: 'open_sanssemibold';
	padding-left: 28px;
 	font-size: 20px;
	color: #d0982c;
	text-shadow: rgba(225,182,100,0.5) 0px .5px .5px;
      }

.contacts .contacts-list{
	overflow: hidden;
	margin-bottom: 25px;
	list-style: none;
	margin: 0;
	padding: 0;

}
.contacts .contacts-item {
	 -moz-box-sizing: border-box; 
    box-sizing: border-box; 
	 min-height: 36px;
	 border: 1px solid #d6d5d3;
	 list-style: none;
	  border-style: solid;
  border-width: 1px;
  border-color: rgb(212, 211, 210);
  box-shadow: inset 0px 1px 4px #cacaca;
  background: #fbfbfb; /* Old browsers */
  background-image: -moz-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.07),inset 0px -2px 3px 0px rgba(45, 45, 45, 0.05);

}
.contacts .contacts-item:hover{
	background: #fbfbfb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #f2e7d0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f2e7d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f2e7d0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbfbfb 0%,#f2e7d0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#f2e7d0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbfbfb 0%,#f2e7d0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f2e7d0',GradientType=0 ); /* IE6-9 */
}
.contacts .contacts-link{
	padding-top: 7px;
	display: block;
	text-decoration: none;
	font-family: 'open_sansregular';
	font-size: 14px;
	text-align: center;
   color: #727070;
   text-shadow: rgba(255,255,255,0.5) 0px .5px .5px;


}
.contacts-link.mail:after{
	display: inline-block;
	float: left;
	content: '';
	margin-top: 6px;
	margin-left: 16px;
	width: 18px;
	height: 18px;
	background: url(../img/spritesheet.png) no-repeat -5px -5px ;
}
.contacts-link.phone:after{
	display: inline-block;
	float: left;
	content: '';
	margin-top: 1px;
	margin-left: 16px;
	width: 20px;
	height: 20px;
	background: url(../img/spritesheet.png) no-repeat -62px -5px;
}
.contacts-link.skype:after{
	display: inline-block;
	float: left;
	content: '';
	margin-top: 1px;
	margin-left: 16px;
	width: 18px;
	height: 18px;
	background: url(../img/spritesheet.png) no-repeat -32px -5px;
}
.contacts-link:before{
	content: '';
	display: block;
	position: absolute;
	width: 21px;
	height: 21px;
	/*margin-top: -1px;*/
	margin-left: 40px;
	border-top: 2px solid #deb566;
	border-right: 2px solid #deb566;
	transform:scale(0.5, 1.2) rotate(45deg);
	background: transparent;
}